input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
section{
	position: absolute;
	top: 200px;
	left: 50px;
	width: 500px;
	height: 200px;
	border:2px inset;
}
#boton-form{
	position: relative;
	top: 100px;
	left: 300px;
}
aside{
	position: absolute;
	top: 200px;
	left: 800px;
	width: 150px;
	height: 100px;
	border: 2px outset;
}
.res{
	position: absolute;
	top: 5%;
	left: 30%;
}
.container{
	position: absolute;
	top: 100px;
	left: 200px;
}
.inn{
	position: absolute;
	right: 100px;
}
.nc{
	position: relative;
	top: 20px;
	left: 20px;

}

.fe{
	position: relative;
	top: 40px;
	left: 20px;
}
.cv{
	position: relative;
	top: 60px;
	left: 20px;
}